/* Basic Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 15px 20px;
    color: white;
  }
  
  /* Logo */
  .nav-logo {
    font-size: 22px;
    font-weight: bold;
  }
  
  /* Navbar Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
 
  }
  
  .nav-links li {
    display: inline;
    /* animation-name: navlinkAnimation; */
    animation-duration: 7s;
  }
/*   
 */
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #f39c12;
  }
  
  /* Mobile Menu Icon */
  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      background: #222;
      position: absolute;
      top: 60px;
      right: 0;
      width: 200px;
      text-align: center;
      padding: 15px;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .menu-icon {
      display: block;
    }
  }
  .dark {
    --bg-color: #1a202c;
    --text-color: white;
  }